/* h1{
    font-style:black;
    background-color:purple;

}
body{
    background-color: #d1a1a1;
}
button{
    background-color: red;
}
div{
    height:100px;
    width:100px;
    background-color:dodgerblue;
    color:white;
    border:1px solid black;
}
.body{
    height:100px;
    width:100px;
    border:3px solid black;
    margin:5px;
    text-align:center;
    
} */
